Repository GDevelopApp/GDevelop-extensions, pull requests merged in 2021-11, with the labels that each got.

#289 Fixed floating-point rounding errors that caused drifting on ShakeObject
  Extensions/ShakeObject.json
Labels: 🔄 Extension update

#290 Fixed floating-point rounding errors that caused drifting on CameraShake
  Extensions/CameraShake.json
Labels: 🔄 Extension update

#257 Create RoomBasedCameraMovement.json
  Extensions/RoomBasedCameraMovement.json
Labels: ✨ New extension

#268 Create key remapper extension
  Extensions/BehaviorRemapper.json
Labels: ✨ New extension

#288 [MarchingSquare] Fix "is inside", add line drawing, add hitboxes generation.
  Extensions/MarchingSquares.json
  scripts/lib/ExtensionsValidatorExceptions.js
Labels: 🏗 Need a change in GDevelop, 🔄 Extension update
