Repository GDevelopApp/GDevelop-extensions, pull requests merged in 2021-09, with the labels that each got.

#207 Marching Squares extension
  Extensions/MarchingSquares.json
Labels: ✨ New extension, ⌨ JavaScript

#225 Cancellable Draggable behavior with tweens
  Extensions/CancellableDraggable.json
  extensions-registry.json
Labels: ✨ New extension

#229 [Mask] Make it explicit that a shape painters can be used as a mask on any objects
  Extensions/SpriteMasking.json
Labels: 🔄 Extension update

#230 Add more extension validation checks
  Extensions/AlignObject.json
  Extensions/Bounce.json
  Extensions/InputValidation.json
  Extensions/KonamiCode.json
  Extensions/RandomColor.json
  Extensions/TextEntryConsole.json
  extensions-registry.json
  package-lock.json
  package.json
  scripts/generate-extensions-registry.js
  scripts/lib/ExtensionBestPracticesValidator.js
  scripts/lib/ExtensionPropertiesValidator.js
  scripts/lib/ExtensionValidator.js
  scripts/lib/ExtensionsBestPracticesExceptions.js
  scripts/types.d.ts
Labels: ⛏ Build code

#224 [Flip3D] Duration instead of speed, trigo, revert at any time.
  Extensions/ThreeDFlip.json
Labels: 🔄 Extension update

#228 [Slider] Value range and tick spacing
  Extensions/DraggableSliderControl.json
  extensions-registry.json
Labels: 🔄 Extension update

#235 Add github actions to make reviewing of extensions easier
  .github/workflows/assign-project.yml
  .github/workflows/auto-pr.yml
  .github/workflows/auto-rebuild.yml
  .github/workflows/commands.yml
  .github/workflows/issues.yml
  scripts/generate-extensions-registry.js
Labels: ⛏ Build code

#236 Cleanup extensions verification
  Extensions/RectangularMovement.json
  extensions-registry.json
  scripts/generate-extensions-registry.js
  scripts/lib/ExtensionBestPracticesValidator.js
  scripts/lib/ExtensionValidator.js
  scripts/lib/ExtensionsValidatorExceptions.js
  scripts/lib/rules/FilledOutDescriptions.js
  scripts/lib/rules/JavascriptDisallowedProperties.js
  scripts/lib/rules/NameConsistency.js
  scripts/lib/rules/NoGet.js
  scripts/lib/rules/PascalCase.js
  scripts/lib/rules/SemVer.js
  scripts/lib/rules/_Template.js
  scripts/lib/rules/rule.d.ts
Labels: ⛏ Build code
