Repository GDevelopApp/GDevelop-extensions, pull requests merged in 2022-10, with the labels that each got.

#616 Extended Variables Support: Fix types in action parameters
  extensions/reviewed/ExtendedVariables.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#634 [Reviewed][Boids Movement] Use a more direct link to the example
  extensions/reviewed/BoidsMovement.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#627 Add LoadImageFromURL extension
  extensions/community/LoadImageFromURL.json
Labels: ✨ New extension, 👨‍👩‍👧‍👦 Community extension

#626 Add JSON Resource loading extension
  extensions/community/JSONResourceLoader.json
Labels: ✨ New extension, 👨‍👩‍👧‍👦 Community extension

#628 [Reviewed][RenderToSprite] Add a new action to render a scene area into a sprite
  extensions/reviewed/RenderToSprite.json
Labels: 🔄 Extension update

#641 [Reviewed] [MultitouchJoystick] Added conditions for 8-way movement
  extensions/reviewed/MultitouchJoystick.json
Labels: 🔄 Extension update

#591 Ellipse movement rework
  extensions/community/SineMovement.json
  extensions/reviewed/EllipseMovement.json
Labels: 🔄 Extension update, 🔍 Reviewed extension
