Repository GDevelopApp/GDevelop-extensions, pull requests merged in 2022-11, with the labels that each got.

#642 [Reviewed] [FireBullet] Ammo management, reloading, overheat, and stats
  extensions/reviewed/FireBullet.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#649 Panel sprite button
  extensions/reviewed/PanelSpriteButton.json
Labels: ✨ New extension, 🔍 Reviewed extension

#657 [Reviewed] [DrawPathfinding] The first path element is now drawn.
  extensions/reviewed/DrawPathfinding.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#659 [Reviewed] [Ellipse and rectangular movements] Add some example links in the description
  extensions/reviewed/EllipseMovement.json
  extensions/reviewed/RectangleMovement.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#660 [Reviewed] [Smooth camera] Add an example link in the description
  extensions/reviewed/SmoothCamera.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#666 [Reviewer] [Pixel perfect movement] Update the short description
  extensions/reviewed/PixelPerfectMovement.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#667 [Reviewed] [Checkbox] [Slider] Fix the actions to change colors for GDevelop 5.1.151
  extensions/reviewed/Checkbox.json
  extensions/reviewed/DraggableSliderControl.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#668 [Reviewed] [Panel sprite button] handle multi-touch
  extensions/reviewed/PanelSpriteButton.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#658 Update BoidsMovement Extension
  extensions/reviewed/BoidsMovement.json
Labels: 🔄 Extension update, ⌨ JavaScript, 🔍 Reviewed extension

#672 [Reviewed] [Panel sprite button] Fix the click action for touch devices.
  extensions/reviewed/PanelSpriteButton.json
Labels: 🔄 Extension update, 🔍 Reviewed extension
