Repository GDevelopApp/GDevelop-extensions, pull requests merged in 2022-12, with the labels that each got.

#677 [Reviewed] [Screen wrap] Move some property explanations from label to description
  extensions/reviewed/ScreenWrap.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#679 Handle multi-line descriptions
  scripts/generate-extensions-registry.js
  scripts/lib/rules/FilledOutDescriptions.js
Labels: ⛏ Build code

#678 [Reviewed] [Boids] Use multi-line JS event
  extensions/reviewed/BoidsMovement.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#680 Handle more multi-line attributes cases.
  scripts/lib/rules/DotsInSentences.js
  scripts/lib/rules/FilledOutDescriptions.js
Labels: ⛏ Build code

#681 Handle new function types
  scripts/lib/rules/DotsInSentences.js
  scripts/lib/rules/FilledOutDescriptions.js
  scripts/types.d.ts
Labels: ⛏ Build code

#669 [Community] [Navigation mesh pathfinding] New extension
  extensions/community/NavMeshPathfinding.json
  scripts/lib/ExtensionsValidatorExceptions.js
Labels: ✨ New extension, 👨‍👩‍👧‍👦 Community extension

#683 Flatten extensions description
  scripts/generate-extensions-registry.js
  scripts/lib/rules/DotsInSentences.js
  scripts/lib/rules/FilledOutDescriptions.js
Labels: ⛏ Build code

#684 [Community] [NavMesh] Make description multi-line
  extensions/community/NavMeshPathfinding.json
Labels: 🔄 Extension update, 👨‍👩‍👧‍👦 Community extension

#685 [Community] [NavMesh] Default shared property values.
  extensions/community/NavMeshPathfinding.json
Labels: 🔄 Extension update, 👨‍👩‍👧‍👦 Community extension

#686 [Reviewed] [Panel sprite button] Forbid dragged clicks that start outside of buttons to validate them
  extensions/reviewed/PanelSpriteButton.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#687 [Reviewed] [Rectangle movement] The initial position parameter is now taken into account
  extensions/reviewed/RectangleMovement.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#655 [Reviewed] [Swipe gesture] Detect swipe gestures based on their distance and duration
  extensions/reviewed/Swipe.json
  extensions/reviewed/SwipeGesture.json
Labels: 🔍 Reviewed extension

#635 New extension: Speed Restrictions
  extensions/reviewed/SpeedRestrictions.json
Labels: ✨ New extension, 🔍 Reviewed extension

#689 [Reviewed] [Pixel perfect] Fix conflicts with the action to change the horizontal speed of platformer characters
  extensions/reviewed/PixelPerfectMovement.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#690 [Reviewed] [Gamepad] Add behaviors for platformer characters and top-down movement
  extensions/reviewed/Gamepads.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#691 [Reviewed] [Gamepad] Fix typo in group name
  extensions/reviewed/Gamepads.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#694 [Reviewed] [Panel sprite button] Fix the resizing detection.
  extensions/reviewed/PanelSpriteButton.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#696 [Reviewed] [Recolorizer] Fix pixel art sprites blurring.
  extensions/reviewed/Recolorizer.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#697 Convert some extensions to the multi-line format.
  extensions/community/PlatformLedgeGrabber.json
  extensions/reviewed/AdvancedJump.json
  extensions/reviewed/CameraShake.json
  extensions/reviewed/ColorConversion.json
  extensions/reviewed/ExtendedVariables.json
  extensions/reviewed/LinkTools.json
  extensions/reviewed/MarchingSquares.json
  extensions/reviewed/Noise.json
  extensions/reviewed/ObjectStack.json
  extensions/reviewed/PlatformerTrajectory.json
  extensions/reviewed/Sticker.json
Labels: 🔄 Extension update

#704 [Reviewed] [Boids] Fix a movement issue after a scene change.
  extensions/reviewed/BoidsMovement.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#705 [Community] [Curved movement] New extension
  extensions/community/CurvedMovement.json
  scripts/lib/ExtensionsValidatorExceptions.js
Labels: ✨ New extension, 👨‍👩‍👧‍👦 Community extension

#562 New extension: "PlatformerCharacterAnimator"
  extensions/reviewed/PlatformerCharacterAnimator.json
Labels: ✨ New extension, 🔍 Reviewed extension

#695 [Reviewed] [Panel sprite button] Use the alignment property of the TextObject
  extensions/reviewed/PanelSpriteButton.json
Labels: 🔄 Extension update, 🔍 Reviewed extension
