Repository GDevelopApp/GDevelop-extensions, pull requests merged in 2022-08, with the labels that each got.

#524 [SmootCamera] Add an action to fix the 1-frame delay.
  extensions/reviewed/SmoothCamera.json
Labels: 🔄 Extension update, 🔍 Reviewed extenion

#384 New extension: EdgeScrollCamera
  Extensions/EdgeScrollCamera.json
Labels: ✨ New extension, 🔍 Reviewed extension

#520 Update Extension: Newgrounds API
  extensions/community/NewgroundsAPI.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#529 Add the CameraImpulse extension.
  extensions/reviewed/CameraImpulse.json
Labels: ✨ New extension, 🔍 Reviewed extension

#545 [New community extensions] Geolocation, References and ObjectPickingTools
  extensions/community/Geolocation.json
  extensions/community/ObjectPickingTools.json
  extensions/community/References.json
  scripts/generate-extensions-registry.js
  scripts/lib/ExtensionsValidatorExceptions.js
Labels: ✨ New extension, ⛏ Build code, 👨‍👩‍👧‍👦 Community extension

#541 Fixed SetMinValue and SetMaxValue (descriptions were swapped)
  extensions/reviewed/DraggableSliderControl.json
Labels: 🔄 Extension update

#548 Draggable Slider: Added expressions for more properties and some actions
  extensions/reviewed/DraggableSliderControl.json
Labels: 🔄 Extension update

#547 [AutoTyping, CursorType, ObjectSpaner] Remove useless "Change" prefix in actions full name
  extensions/reviewed/AutoTyping.json
  extensions/reviewed/CursorType.json
  extensions/reviewed/ObjectSpawner.json
Labels: 🔄 Extension update

#387 [ScreenShaking] Multi-layer, noise based shaking, scrolling-compatible.
  extensions/reviewed/CameraShake.json
  scripts/lib/ExtensionsValidatorExceptions.js
Labels: 🔄 Extension update, 🔍 Reviewed extension
