Repository GDevelopApp/GDevelop-extensions, pull requests merged in 2022-07, with the labels that each got.

#486 [MarchingSquares] Refactor to extract a library
  extensions/reviewed/MarchingSquares.json
  scripts/lib/ExtensionsValidatorExceptions.js
Labels: 🔄 Extension update, ⌨ JavaScript

#502 Use gdjs._extensionVoiceRecognition scope
  extensions/community/VoiceRecognition.json
Labels: 🔄 Extension update

#494 [PinchGesture] Add an extension to move the camera or objects with pinching gestures.
  extensions/reviewed/PinchGesture.json
Labels: ✨ New extension, ⌨ JavaScript, 🔍 Reviewed extenion

#381 New extension: Record
  extensions/reviewed/Record.json
  scripts/lib/ExtensionsValidatorExceptions.js
Labels: ✨ New extension, 🔍 Reviewed extenion

#489 ValuesOfMultipleObjects: Added size expressions
  extensions/reviewed/ValuesOfMultipleObjects.json
Labels: 🔄 Extension update, 🔍 Reviewed extenion

#397 Updated Checkbox extension (based on template from DraggableSlider)
  extensions/reviewed/Checkbox.json
Labels: 🔄 Extension update
