Repository GDevelopApp/GDevelop-extensions, pull requests merged in 2022-04, with the labels that each got.

#383 [Noise] Add 4d noise, looping, multiple generators.
  Extensions/Noise.json
Labels: 🔄 Extension update, ⌨ JavaScript

#367 Add the SmoothCamera extension to follow an object.
  Extensions/SmoothCamera.json
Labels: ✨ New extension

#386 New extension: CloneCamera - Copy the camera settings of a layer and apply them to another layer
  Extensions/CopyCameraSettings.json
Labels: ✨ New extension, 🏁 Extension almost ready: final fixes

#389 Add PixelPerfectMovement for platformer and top-down movements.
  Extensions/PixelPerfectMovement.json
Labels: ✨ New extension

#334 [PlatformerTrajectory] Add a behavior to evaluate jump trajectories.
  Extensions/PlatformerTrajectory.json
  scripts/lib/ExtensionsValidatorExceptions.js
Labels: ✨ New extension, ⌨ JavaScript

#398 [Fix] Cursor Type
  Extensions/CursorType.json
Labels: 🔄 Extension update, ⌨ JavaScript

#399 [Fix] Parameters of DraggableSlider
  Extensions/DraggableSliderControl.json
Labels: 🔄 Extension update

#400 Update
  Extensions/CursorType.json
  Extensions/DraggableSliderControl.json
Labels: 🔄 Extension update

#411 Add an extension to recolorize objects
  Extensions/Recolorizer.json
  scripts/lib/ExtensionsValidatorExceptions.js
Labels: ✨ New extension, ⌨ JavaScript

#417 [SmoothCamera] Fix the "follow on X" action.
  Extensions/SmoothCamera.json
Labels: 🔄 Extension update
