Repository GDevelopApp/GDevelop-extensions, pull requests merged in 2022-02, with the labels that each got.

#361 New extension CameraZoom to zoom at a given speed.
  Extensions/CameraZoom.json
Labels: ✨ New extension

#353 Update DragCameraWithPointer.json
  Extensions/DragCameraWithPointer.json
Labels: 🔄 Extension update

#338 Update ExtendedMath: Change ToFixed() to return a string instead of a number
  Extensions/ExtendedMath.json
Labels: 🔄 Extension update, ⌨ JavaScript

#362 Update Extended variables extension
  Extensions/ExtendedVariables.json
Labels: 🔄 Extension update, ⌨ JavaScript
