Repository GDevelopApp/GDevelop-extensions, pull requests merged in 2022-09, with the labels that each got.

#546 [ToogleSwitch] Remove useless "Change" prefix in actions full name.
  extensions/reviewed/ToggleSwitch.json
Labels: 🔄 Extension update

#571 AutoTyping: Added multiple functions and a minor fix
  extensions/reviewed/AutoTyping.json
Labels: 🔄 Extension update

#578 [BoidsMovement] Fix a crash at a scene change.
  extensions/reviewed/BoidsMovement.json
Labels: 🔄 Extension update, ⌨ JavaScript, 🔍 Reviewed extension

#542 Health with shield (update)
  extensions/reviewed/Health.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#582 Upgrade Cordova IAP to 11.0.0
  extensions/reviewed/InAppPurchase.json
Labels: 🔄 Extension update

#584 [Choose a random value] add a link to Array Tools in the description
  extensions/reviewed/Choose.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#592 [Marching Squares] Fix a preview crash when the "Must only draw what is on the screen" property was checked.
  extensions/reviewed/MarchingSquares.json
Labels: 🔄 Extension update, ⌨ JavaScript, 🔍 Reviewed extension

#593 [CameraShake] Fix compatibility with the extension version prior to 3.0.0
  extensions/reviewed/CameraShake.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#352 Update ScreenWrap.json
  extensions/reviewed/ScreenWrap.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#605 New extension PlatformLedgeGrabber.
  extensions/community/PlatformLedgeGrabber.json
  scripts/lib/ExtensionsValidatorExceptions.js
Labels: ✨ New extension, 👨‍👩‍👧‍👦 Community extension

#607 Fix the visual effect category name
  extensions/reviewed/DepthEffect.json
  extensions/reviewed/Flash.json
  extensions/reviewed/FlashLayer.json
  extensions/reviewed/FlashTransitionPainter.json
  extensions/reviewed/MarchingSquares.json
  extensions/reviewed/Recolorizer.json
  extensions/reviewed/Reflection.json
  extensions/reviewed/ShadowClones.json
  extensions/reviewed/ShakeObject.json
  extensions/reviewed/SpriteMasking.json
  extensions/reviewed/ThreeDFlip.json
  extensions/reviewed/YSort.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#608 Add the extension categories list to the registry
  scripts/generate-extensions-registry.js
  scripts/types.d.ts
Labels: ⛏ Build code

#609 Add extension category to short headers
  scripts/generate-extensions-registry.js
  scripts/types.d.ts
Labels: ⛏ Build code

#612 Ensure category is set in short headers
  scripts/generate-extensions-registry.js
Labels: ⛏ Build code

#613 Put "General" as the default category in the registry
  scripts/generate-extensions-registry.js
Labels: ⛏ Build code

#590 Rectangular movement rework
  extensions/community/RectangularMovement.json
  extensions/reviewed/RectangleMovement.json
Labels: 🔄 Extension update, 🔍 Reviewed extension
