Repository GDevelopApp/GDevelop-extensions, pull requests merged in 2022-03, with the labels that each got.

#321 Add pop-up extension
  Extensions/PopUp.json
Labels: 🏁 Extension almost ready: final fixes

#360 [MarchingSquares] Collision optimization
  Extensions/MarchingSquares.json
Labels: 🔄 Extension update, ⌨ JavaScript

#379 Added Draggable Physics
  Extensions/DraggablePhysics.json
Labels: ✨ New extension
