Repository GDevelopApp/GDevelop-extensions, pull requests merged in 2023-05, with the labels that each got.

#875 [Curved movement] Handle the exponential notation for numbers in SVG paths
  extensions/community/CurvedMovement.json
Labels: 🔄 Extension update, 👨‍👩‍👧‍👦 Community extension

#840 [Community] [New extension] Add poki games sdk extension
  extensions/community/PokiGamesSDKHtml.json
Labels: ✨ New extension, 👨‍👩‍👧‍👦 Community extension

#874 [Reviewed] [Button states] Provides button states including idle, hovered, pressed, and clicked.
  extensions/reviewed/ButtonStates.json
Labels: ✨ New extension

#832 [Reviewed] [Inventories] A rewrite of the extension with events
  extensions/reviewed/Inventories.json
Labels: ✨ New extension, 🏗 Need a change in GDevelop, 🔍 Reviewed extension

#885 [Reviewed] [Gamepad] Rename StickX to StickForceX
  extensions/reviewed/Gamepads.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#886 [Reviewed] [First person camera] Move the camera to look though objects eyes
  extensions/reviewed/FirstPersonCamera.json
Labels: ✨ New extension, 🔍 Reviewed extension

#883 [Reviewed] [Multitouch joystick] Add expressions StickX and StickY
  extensions/reviewed/SpriteMultitouchJoystick.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#876 [Reviewed] [Billboard] Rotate 3D objects to appear like 2D sprites
  extensions/reviewed/Billboard.json
  scripts/lib/ExtensionsValidatorExceptions.js
Labels: ✨ New extension, 🔍 Reviewed extension

#887 [Reviewed] [Third person camera] Move the camera to look at an object from a given distance
  extensions/reviewed/ThirdPersonCamera.json
Labels: ✨ New extension, 🔍 Reviewed extension

#891 [Reviewed] [Multitouch joystick] Fix an infinit loop in the mappers
  extensions/reviewed/SpriteMultitouchJoystick.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#892 [Reviewed] [Multitouch joystick] Replace deprecated expression calls
  extensions/reviewed/SpriteMultitouchJoystick.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#893 Add CI on event-based objects
  extensions/reviewed/PanelSpriteButton.json
  scripts/lib/ExtensionValidator.js
  scripts/lib/ExtensionsValidatorExceptions.js
  scripts/lib/rules/FilledOutDescriptions.js
  scripts/types.d.ts
Labels: ⛏ Build code

#877 [Reviewed] [Fire bullet] Fix bullets picking
  extensions/reviewed/FireBullet.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#897 [Fire Bullet] [Reviewed] Added action to "fire bullet at an object"
  extensions/reviewed/FireBullet.json
Labels: 🔄 Extension update
