Repository GDevelopApp/GDevelop-extensions, pull requests merged in 2023-07, with the labels that each got.

#937 [Reviewed] [Object stack] Add quality of life features
  extensions/reviewed/ObjectStack.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#934 Better top behavior list handling
  extensions/views.json
  scripts/generate-extensions-registry.js
  scripts/types.d.ts
Labels: ⛏ Build code

#940 [Community] [Curved movement] Fix the action to append paths
  extensions/community/CurvedMovement.json
Labels: 🔄 Extension update, 👨‍👩‍👧‍👦 Community extension

#788 [Community] [Audio Context] Procedural audio generation
  extensions/community/AudioContext.json
  scripts/lib/ExtensionsValidatorExceptions.js
Labels: ✨ New extension, 👨‍👩‍👧‍👦 Community extension

#938 [Reviewed] [Curved Movement] Tag as reviewed
  extensions/reviewed/CurvedMovement.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#948 [Community] Add a deprecated suffix to some behaviors
  extensions/community/RectangularMovement.json
  extensions/community/SineMovement.json
Labels: 🔄 Extension update, 👨‍👩‍👧‍👦 Community extension

#951 Add required behaviors to behavior headers
  scripts/generate-extensions-registry.js
  scripts/lib/rules/DotsInSentences.js
  scripts/lib/rules/FilledOutDescriptions.js
  scripts/types.d.ts
Labels: ⛏ Build code
