Repository GDevelopApp/GDevelop-extensions, pull requests merged in 2023-01, with the labels that each got.

#708 [Community] Add various custom objects for UI.
  extensions/community/PanelSpriteContinuousBar.json
  extensions/community/PanelSpriteSlider.json
  extensions/community/SpriteToggleSwitch.json
  extensions/community/TiledUnitsBar.json
Labels: ✨ New extension, 👨‍👩‍👧‍👦 Community extension

#693 [Reviewed] [Multitouch joystick] Add a multitouch controller mapper behavior for platformer characters.
  extensions/reviewed/MultitouchJoystick.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#709 [Fire Bullet] [Reviewed] Update: Added the ability to specify the layer that bullets are created on
  extensions/reviewed/FireBullet.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#711 [TimeFormatter] Added an expression for HH:MM:SS.000 (displays milliseconds)
  extensions/reviewed/TimeFormatter.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#714 [Reviewed] [Panel sprite button] Add a link to the asset pack in the description.
  extensions/reviewed/PanelSpriteButton.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#728 [Reviewed] [Snap to grid] Add example links.
  extensions/reviewed/HexagonalGrid.json
  extensions/reviewed/SnapToGrid.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#727 [Reviewed] [Fire bullet] Make the extension description straight to the point.
  extensions/reviewed/FireBullet.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#730 [Community] [Resource bar] Fix bar easing to allow to disable it.
  extensions/community/PanelSpriteContinuousBar.json
  extensions/community/PanelSpriteSlider.json
  extensions/community/SpriteToggleSwitch.json
Labels: 🔄 Extension update, 👨‍👩‍👧‍👦 Community extension

#731 [Reviewed] [Fire bullet] Fix bullet angle was the firing angle without the variance.
  extensions/reviewed/FireBullet.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#726 [Reviewed] New extension for multitouch joystick with a custom object
  extensions/community/MultitouchJoystick.json
  extensions/reviewed/SpriteMultitouchJoystick.json
Labels: ✨ New extension, 🔄 Extension update, 🔍 Reviewed extension

#733 [Reviewed] [Multitouch joystick] Fix top-down mapper.
  extensions/reviewed/SpriteMultitouchJoystick.json
Labels: 🔄 Extension update

#734 [Community] [UI objects] Fix extension namespace in instructions.
  extensions/community/PanelSpriteSlider.json
  extensions/community/TiledUnitsBar.json
Labels: 🔄 Extension update, 👨‍👩‍👧‍👦 Community extension

#735 [Community] [Continuous bar] Fix the max value.
  extensions/community/PanelSpriteSlider.json
Labels: 🔄 Extension update, 👨‍👩‍👧‍👦 Community extension

#736 [Community] [Units bar] Fix the initial value.
  extensions/community/TiledUnitsBar.json
Labels: 🔄 Extension update, 👨‍👩‍👧‍👦 Community extension

#737 [Reviewed] [Button] Use the new touch conditions introduced in GDevelop 5.1.156
  extensions/reviewed/PanelSpriteButton.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#738 [Community] [Slider and Toggle Switch] Upgrade the ButtonFSM behavior
  extensions/community/PanelSpriteSlider.json
  extensions/community/SpriteToggleSwitch.json
Labels: 🔄 Extension update, 👨‍👩‍👧‍👦 Community extension

#739 [Community] [Slider] Fix value changes when moving several thumbs.
  extensions/community/PanelSpriteSlider.json
Labels: 🔄 Extension update, 👨‍👩‍👧‍👦 Community extension

#740 [Reviewed] [Button] Simpler FSM
  extensions/community/SpriteToggleSwitch.json
  extensions/reviewed/PanelSpriteButton.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#741 Move UI custom object extensions to the reviewed list
  extensions/reviewed/PanelSpriteContinuousBar.json
  extensions/reviewed/PanelSpriteSlider.json
  extensions/reviewed/SpriteToggleSwitch.json
  extensions/reviewed/TiledUnitsBar.json
Labels: 🔄 Extension update, 👨‍👩‍👧‍👦 Community extension, 🔍 Reviewed extension

#710 [Follow multiple objects with camera] [Reviewed] Changed calculations to use AABB (bounding boxes)
  extensions/reviewed/FollowObjectsWithCamera.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#742 [Reviewed] [Record] No change: multi-lined JavaScript events
  extensions/reviewed/Record.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#744 [Reviewed] [Button] Fix missing parameter in sentence.
  extensions/reviewed/PanelSpriteButton.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#747 [Reviewed] [Multitouch joystick] Add choices for the joystick name.
  extensions/reviewed/SpriteMultitouchJoystick.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#749 [Reviewed] [Joystick] Remove an useless behavior parameter on the angle expression and condition.
  extensions/reviewed/SpriteMultitouchJoystick.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#750 [Reviewed] [Ellipse movement] Fix default property values.
  extensions/reviewed/EllipseMovement.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#752 [Reviewed] [Cursor object] Remove the button behavior
  extensions/reviewed/MouseHelper.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#753 [Reviewed] [Custom objects] Fix a typo in the "activate" action
  extensions/reviewed/PanelSpriteButton.json
  extensions/reviewed/PanelSpriteSlider.json
  extensions/reviewed/SpriteToggleSwitch.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#755 [Reviewed] [Shape painter UI] Rename extensions to tell them apart from custom objects
  extensions/reviewed/Checkbox.json
  extensions/reviewed/DraggableSliderControl.json
  extensions/reviewed/ToggleSwitch.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#754 [Reviewed] [Stay on screen] Use the bounding box instead of the position and the dimensions
  extensions/reviewed/StayOnScreen.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#756 [Reviewed] [custom objects] Add links to the asset store
  extensions/reviewed/PanelSpriteContinuousBar.json
  extensions/reviewed/PanelSpriteSlider.json
  extensions/reviewed/SpriteToggleSwitch.json
  extensions/reviewed/TiledUnitsBar.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#757 [Reviewed] [Multitouch joystick] Link the help button to the new documentation
  extensions/reviewed/SpriteMultitouchJoystick.json
Labels: 🔄 Extension update, 🔍 Reviewed extension
