Repository GDevelopApp/GDevelop-extensions, pull requests merged in 2023-08, with the labels that each got.

#954 [Community] [3D particle emitter] Display a large number of particles to create visual effects
  extensions/community/ParticleEmitter3D.json
  scripts/lib/ExtensionsValidatorExceptions.js
Labels: ✨ New extension, 👨‍👩‍👧‍👦 Community extension

#955 [Flash object] Add ability to flash color tint, object effect, and opacity (fade)
  extensions/reviewed/Flash.json
  scripts/lib/ExtensionsValidatorExceptions.js
Labels: 🔄 Extension update

#958 [Community] [3D particle emitter] Fix the scale property.
  extensions/community/ParticleEmitter3D.json
Labels: 🔄 Extension update, 👨‍👩‍👧‍👦 Community extension

#962 Add tags on every extension that require behaviors
  extensions/community/TopDownCornerSliding.json
  extensions/reviewed/AdvancedJump.json
  extensions/reviewed/BehaviorRemapper.json
  extensions/reviewed/DraggablePhysics.json
  extensions/reviewed/Flash.json
  extensions/reviewed/Gamepads.json
  extensions/reviewed/PixelPerfectMovement.json
  extensions/reviewed/PlatformerCharacterAnimator.json
  extensions/reviewed/PlatformerTrajectory.json
  extensions/reviewed/SmoothCamera.json
  extensions/reviewed/SpeedRestrictions.json
  extensions/reviewed/SpriteMultitouchJoystick.json
  extensions/reviewed/Sway.json
Labels: 🔄 Extension update

#964 [Screen wrap] [Reviewed] Fix physics version that had copy/paste errors from non-physics version
  extensions/reviewed/ScreenWrap.json
Labels: 🔄 Extension update

#975 [Reviewed] [Sticker] Allow to destroy stuck objects with their parent
  extensions/reviewed/Sticker.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#941 [Reviewed] Add AdvancedHTTP extension
  extensions/reviewed/AdvancedHTTP.json
  scripts/lib/ExtensionsValidatorExceptions.js
Labels: ✨ New extension, 🏁 Extension almost ready: final fixes, ⌨ JavaScript, 🔍 Reviewed extension

#965 [Community] [3D tween] Smoothly animate scale and rotation of 3d models
  extensions/community/Tween3D.json
Labels: ✨ New extension, 👨‍👩‍👧‍👦 Community extension

#989 [Community] [3D Tween] Add a property for the wobble orientation
  extensions/community/Tween3D.json
Labels: 🔄 Extension update, 👨‍👩‍👧‍👦 Community extension
