Repository GDevelopApp/GDevelop-extensions, pull requests merged in 2023-02, with the labels that each got.

#715 New extension: Object Slicer
  extensions/reviewed/ObjectSlicer.json
  scripts/lib/ExtensionsValidatorExceptions.js
Labels: ✨ New extension

#758 [Reviewed] [Multitouch joystick] Add missing joystick name choices
  extensions/reviewed/SpriteMultitouchJoystick.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#759 [Reviewed] [custom objects] Add a documentation page
  extensions/reviewed/PanelSpriteButton.json
  extensions/reviewed/PanelSpriteContinuousBar.json
  extensions/reviewed/PanelSpriteSlider.json
  extensions/reviewed/SpriteToggleSwitch.json
  extensions/reviewed/TiledUnitsBar.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#760 [Community] [Align object] Mark as unreviewed.
  extensions/community/AlignObject.json
Labels: 🔄 Extension update, 👨‍👩‍👧‍👦 Community extension, 🔍 Reviewed extension

#761 [Reviewed] [Toggle switch] Fix some sentences
  extensions/reviewed/SpriteToggleSwitch.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#762 [Reviewed] [Sway] Move the extension to the visual effect category
  extensions/reviewed/Sway.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#765 [Community] [Rotate 13] Mark as unreviewed
  extensions/community/Rotate13.json
Labels: 🔄 Extension update, 👨‍👩‍👧‍👦 Community extension, 🔍 Reviewed extension

#766 [Reviewed] [Y-Sort] Fix a 1-frame delay.
  extensions/reviewed/YSort.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#767 [Community] [NavMesh] Add an example link
  extensions/community/NavMeshPathfinding.json
Labels: 🔄 Extension update, 👨‍👩‍👧‍👦 Community extension

#769 [Reviewed] Make descriptions on multiple lines
  extensions/reviewed/AutoTyping.json
  extensions/reviewed/Health.json
  extensions/reviewed/ObjectSpawner.json
  extensions/reviewed/ShakeObject.json
  extensions/reviewed/ThreeDFlip.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#770 [Reviewed] Add some example links
  extensions/reviewed/AutoTyping.json
  extensions/reviewed/Health.json
  extensions/reviewed/PlatformerCharacterAnimator.json
  extensions/reviewed/ShakeObject.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#746 Update extension: Record
  extensions/reviewed/Record.json
  scripts/lib/ExtensionsValidatorExceptions.js
Labels: 🔄 Extension update, ⌨ JavaScript, 🔍 Reviewed extension

#748 Make the clipboard extension ✨true async✨
  extensions/reviewed/Clipboard.json
Labels: 🏗 Need a change in GDevelop, 🔄 Extension update, ⌨ JavaScript, 🔍 Reviewed extension

#777 [Reviewed] [Slider] Add a condition to check when the slider is dragged
  extensions/reviewed/PanelSpriteSlider.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#779 [Reviewed] [Health] Fix the compatibility with old versions of the extension
  extensions/reviewed/Health.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#785 [Slider] Fix slider disappearance when the minimum value is set to 1.
  extensions/reviewed/PanelSpriteSlider.json
Labels: 🔄 Extension update, 🔍 Reviewed extension
