Repository GDevelopApp/GDevelop-extensions, pull requests merged in 2023-09, with the labels that each got.

#985 [Reviewed] [Platformer character animator] Handle 3D models
  extensions/reviewed/PlatformerCharacterAnimator.json
Labels: 🔄 Extension update

#947 [Reviewed] [Curved movement] Add a condition to check the number of loop
  extensions/reviewed/CurvedMovement.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#1004 [Community] [3D particles] Fix the size of particles that were 3 times too small
  extensions/community/ParticleEmitter3D.json
Labels: 🔄 Extension update, 👨‍👩‍👧‍👦 Community extension

#1005 [Reviewed] [Recolorizer] Avoid to process transparent pixels
  extensions/reviewed/Recolorizer.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#889 [Reviewed] [Mouse pointer lock] Add handling of touches
  extensions/reviewed/MousePointerLock.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#797 [Community] [Top-down movement animator] Change the animation according to the top-down movement direction
  extensions/community/NavMeshPathfinding.json
  extensions/community/TopDownMovementAnimator.json
Labels: ✨ New extension, 👨‍👩‍👧‍👦 Community extension

#1007 [Reviewed] [3D object shake] Unify the behaviors for 3D models and 3D boxes
  extensions/reviewed/ShakeObject3D.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#1008 Sort community extensions into categories
  extensions/community/AnimationSystem.json
  extensions/community/CharacterGameFeel.json
  extensions/community/ChatBubble.json
  extensions/community/Clock.json
  extensions/community/DialogBox.json
  extensions/community/DynamicWater.json
  extensions/community/ExtraInventory.json
  extensions/community/FlipGravity.json
  extensions/community/HasLanded.json
  extensions/community/JointConnector.json
  extensions/community/MakeItRain.json
  extensions/community/PauseFocusLost.json
  extensions/community/PlatformLedgeGrabber.json
  extensions/community/PointAndOrbit.json
  extensions/community/PushableAndPullableBox.json
  extensions/community/PushableBox.json
  extensions/community/RecordMovements.json
  extensions/community/SelectionTools.json
  extensions/community/SlotSystem.json
  extensions/community/SoundVolumeBasedOnDistance.json
  extensions/community/SpriteBasedLighting.json
  extensions/community/TrampolinePlatform.json
  extensions/community/UploadDownloadTextFile.json
  extensions/community/YGameSDK.json
Labels: 🔄 Extension update, 👨‍👩‍👧‍👦 Community extension

#1012 [Community] [3D particle emitter] Handle layers
  extensions/community/ParticleEmitter3D.json
Labels: 🔄 Extension update, 👨‍👩‍👧‍👦 Community extension

#1015 [Reviewed] [Marching squares] Fix the mode that only draw the visible part for portrait screens
  extensions/reviewed/MarchingSquares.json
Labels: 🔄 Extension update

#1020 Array tools v2
  extensions/reviewed/ArrayTools.json
  scripts/lib/ExtensionsValidatorExceptions.js
Labels: 🔄 Extension update, ⌨ JavaScript, 💣 Breaking Change

#1024 Ignore JS disallowed properties in issues
  .github/workflows/auto-pr.yml
  scripts/check-single-extension.js
  scripts/lib/ExtensionValidator.js
  scripts/lib/rules/JavascriptDisallowedProperties.js
  scripts/lib/rules/rule.d.ts
Labels: ⛏ Build code

#1032 Add "Issue with extension" label to bug reports automatically
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: 🔍 Other

#935 Improve Automatic PR Creation GitHub Action and Command GitHub Action.
  .github/workflows/auto-pr.yml
  .github/workflows/commands.yml
Labels: ⛏ Build code
