Repository GDevelopApp/GDevelop-extensions, pull requests merged in 2023-03, with the labels that each got.

#793 Make relative some help page links
  extensions/reviewed/Bounce.json
  extensions/reviewed/InAppPurchase.json
  extensions/reviewed/LinkTools.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#795 [Slider] Fix a shifting when the slider is rotated
  extensions/reviewed/PanelSpriteSlider.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#782 [Pixel perfect] Fix top-down grid movement when diagonals are forbidden.
  extensions/reviewed/PixelPerfectMovement.json
  scripts/lib/ExtensionsValidatorExceptions.js
Labels: 🔄 Extension update, 🔍 Reviewed extension

#796 [Sticker] Add an example link and tags
  extensions/reviewed/Sticker.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#798 [Top-down corner sliding] Slide on corners of rectangular obstacles
  extensions/community/TopDownCornerSliding.json
  scripts/lib/ExtensionsValidatorExceptions.js
Labels: ✨ New extension, 👨‍👩‍👧‍👦 Community extension

#799 [NavMesh path finding] Fix obstacle deletion handling.
  extensions/community/NavMeshPathfinding.json
Labels: 🔄 Extension update, 👨‍👩‍👧‍👦 Community extension

#806 Fix bot error display
  .github/workflows/auto-pr.yml
Labels: ⛏ Build code

#808 Fix the bot's slicing
  .github/workflows/auto-pr.yml
Labels: ⛏ Build code

#807 Extension proposition : Authorized Platform Validation
  extensions/reviewed/AuthorizedPlatformsValidation.json
Labels: ✨ New extension, 🔍 Reviewed extension

#817 [Advanced jump] Declare units of measurement
  extensions/reviewed/AdvancedJump.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#815 [Linear movement] Declare units of measurement
  extensions/reviewed/LinearMovement.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#814 [Stay on screen] Declare units of measurement
  extensions/reviewed/StayOnScreen.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#811 [Flash] Declare units of measurement
  extensions/reviewed/Flash.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#810 [Rectangle movement] Declare units of measurement
  extensions/reviewed/RectangleMovement.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#809 [Smooth camera] Declare units of measurement
  extensions/reviewed/SmoothCamera.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#813 [Health] Declare units of measurement
  extensions/reviewed/Health.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#805 [Button] Add a private reset function for other extensions using the FSM
  extensions/reviewed/PanelSpriteButton.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#804 [Toggle switch] Add a "has just been checked" condition to allow radio button group
  extensions/reviewed/SpriteToggleSwitch.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#822 Update help pages and links
  README.md
  extensions/community/MultitouchJoystick.json
  extensions/reviewed/Bounce.json
  extensions/reviewed/Choose.json
  extensions/reviewed/InAppPurchase.json
  extensions/reviewed/MQTT.json
  extensions/reviewed/MarchingSquares.json
Labels: 🔄 Extension update

#824 [Reviewed] [Fire bullet] Reorganize groups
  extensions/reviewed/FireBullet.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#825 [Reviewed] [Fire bullet] Allow to fire from several locations at once
  extensions/reviewed/FireBullet.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#827 [Reviewed] [Platformer animator] Fix the animation when the behavior is activated back
  extensions/reviewed/PlatformerCharacterAnimator.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#829 [Reviewed] [Fire bullet] Forbid to fire while deactivated
  extensions/reviewed/FireBullet.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#833 [Reviewed] [Fire bullet] Add a help page
  extensions/reviewed/FireBullet.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#826 [Draggable Physics] [Reviewed] Updated extension with getters, setters, and units
  extensions/reviewed/DraggablePhysics.json
Labels: 🔄 Extension update
