Repository GDevelopApp/GDevelop-extensions, pull requests merged in 2024-10, with the labels that each got.

#1401 Use the new syntax for properties and parameters in community extensions
  extensions/community/AnimationSystem.json
  extensions/community/CharacterGameFeel.json
  extensions/community/ChatBubble.json
  extensions/community/CheatCode.json
  extensions/community/CountdownTimer.json
  extensions/community/DialogBox.json
  extensions/community/DoubleKeyPress.json
  extensions/community/DynamicWater.json
  extensions/community/ExtraInventory.json
  extensions/community/FlipGravity.json
  extensions/community/GamejoltAPI.json
  extensions/community/HasLanded.json
  extensions/community/JointConnector.json
  extensions/community/Jump3D.json
  extensions/community/MagneticEffect.json
  extensions/community/MakeItRain.json
  extensions/community/MazeGenerator.json
  extensions/community/MultitouchJoystick.json
  extensions/community/PlatformLedgeGrabber.json
  extensions/community/PushableAndPullableBox.json
  extensions/community/PushableBox.json
  extensions/community/RecordMovements.json
  extensions/community/RectangularMovement.json
  extensions/community/Reflection.json
  extensions/community/SecretCode.json
  extensions/community/SelectionTools.json
  extensions/community/SineMovement.json
  extensions/community/SlotSystem.json
  extensions/community/SoundVolumeBasedOnDistance.json
  extensions/community/StarRating.json
  extensions/community/TrampolinePlatform.json
  extensions/community/Tween3D.json
Labels: 🔄 Extension update, 👨‍👩‍👧‍👦 Community extension

#1407 [Double key press] Revert to the old syntax
  extensions/community/DoubleKeyPress.json
Labels: 🔄 Extension update, 👨‍👩‍👧‍👦 Community extension

#1409 [FPS] Fix a variable access
  extensions/reviewed/FPS.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#1410 [Auto typing] Fix the word wrapping
  extensions/reviewed/AutoTyping.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#1417 [3D sprite] Fix a crash when the sprite has no frame
  extensions/community/Sprite3D.json
Labels: 🔄 Extension update, 👨‍👩‍👧‍👦 Community extension

#1418 [Community] [TweenZOrder] Remove the extension
  extensions/community/TweenZOrder.json
Labels: 👨‍👩‍👧‍👦 Community extension

#1420 Deprecate some extensions
  extensions/community/DialogBox.json
  extensions/community/PushableBox.json
  extensions/community/TextEntryConsole.json
  extensions/community/TextEntryVirtualKeyboard.json
Labels: 👨‍👩‍👧‍👦 Community extension, 🔍 Reviewed extension
