Repository GDevelopApp/GDevelop-extensions, pull requests merged in 2024-12, with the labels that each got.

#1465 [Smooth camera] Rename some parameters to avoid future name conflicts with properties
  extensions/reviewed/SmoothCamera.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#1467 Update MQTT.js to 5.10.3
  extensions/reviewed/MQTT.json
Labels: 🔄 Extension update, 🧰 Dependencies

#1471 [Reviewed] [3D particle] Fix a regression on particle size
  extensions/reviewed/ParticleEmitter3D.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#1464 [Reviewed] Add 13 helper behaviors for 3D characters
  extensions/community/Collision3D.json
  extensions/reviewed/AdvancedJump3D.json
  extensions/reviewed/Gamepads.json
  extensions/reviewed/MousePointerLock.json
  extensions/reviewed/PhysicsCharacter3DAnimator.json
  extensions/reviewed/PhysicsCharacter3DKeyMapper.json
  extensions/reviewed/PhysicsEllipseMovement3D.json
  extensions/reviewed/SpriteMultitouchJoystick.json
  extensions/reviewed/ThirdPersonCamera.json
  scripts/generate-extensions-registry.js
  scripts/lib/ExtensionsValidatorExceptions.js
Labels: 🏗 Need a change in GDevelop, 🔍 Reviewed extension

#1478 [Community] [3D jump] Mark as deprecated
  extensions/community/Jump3D.json
  extensions/community/Walk3D.json
Labels: 🔄 Extension update, 👨‍👩‍👧‍👦 Community extension
