Repository GDevelopApp/GDevelop-extensions, pull requests merged in 2024-03, with the labels that each got.

#1193 [3D object shake] Fix description typo and use the new syntax
  extensions/reviewed/ShakeObject3D.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#1194 [3D object shake] Fix some object parameters type
  extensions/reviewed/ShakeObject3D.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#1195 [Camera shake] Use the new syntax to access parameters
  extensions/reviewed/CameraShake.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#1196 [Reviewed] [Noise] Use ES6 syntax
  extensions/reviewed/Noise.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#1197 [Reviewed] [Marching square] Fix "Grid value" and "Clamp" actions
  extensions/reviewed/MarchingSquares.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#1198 [Reviewed] [Marching squares] Use ES6 syntax
  extensions/reviewed/MarchingSquares.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#1202 [Reviewed] [Toggle switch] Add an action to toggle the switch
  extensions/reviewed/SpriteToggleSwitch.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#1203 [Reviewed] [Toggle switch] Fix collision mask from being 0 pixel
  extensions/reviewed/SpriteToggleSwitch.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#1191 [Reviewed] [Repeat every X seconds] Allow to use several object timers
  extensions/reviewed/RepeatEveryXSeconds.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#1065 [Community] [Countdown timer] Fix a typo in the restart action name
  extensions/community/CountdownTimer.json
Labels: 🔄 Extension update, 👨‍👩‍👧‍👦 Community extension

#1215 [Reviewed] [3D particle] Deprecate custom actions for 3D position
  extensions/reviewed/ParticleEmitter3D.json
  scripts/lib/ExtensionsValidatorExceptions.js
Labels: 🔄 Extension update, 🔍 Reviewed extension

#1214 [Community] [3D camera shake] Shake layer cameras on 3 rotations
  extensions/community/CameraShake3D.json
  scripts/lib/ExtensionsValidatorExceptions.js
Labels: ✨ New extension, 👨‍👩‍👧‍👦 Community extension

#1218 [Reviewed] [Parallax] Make the parallax start with an offset of 0
  extensions/reviewed/Parallax.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#1219 [Reviewed] [Parallax] Fix a shift when zooming
  extensions/reviewed/Parallax.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#1224 [Community] [3D model 9-patch] A 3D model with corners that don't stretch and sides that can be tiled.
  extensions/community/Model9Patch3D.json
Labels: ✨ New extension, 👨‍👩‍👧‍👦 Community extension

#1232 [Reviewed] [Sticker] Fix object positions after a size change when angle is 0
  extensions/reviewed/Sticker.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#1234 [Reviewed] [Billboard] Allow to use any 3D object
  extensions/reviewed/Billboard.json
Labels: 🔄 Extension update, 🔍 Reviewed extension
