Repository GDevelopApp/GDevelop-extensions, pull requests merged in 2024-05, with the labels that each got.

#1272 [Reviewed] [Boids Movement] Fix typo of VelocityX and VelocityY being swapped
  extensions/reviewed/BoidsMovement.json
Labels: 🔄 Extension update

#1283 [Reviewed] [Resource bar (separated units)] Fix max value action
  extensions/reviewed/TiledUnitsBar.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#1293 [Reviewed] [3D flip] Allow to use animations to flip sprites
  extensions/reviewed/ThreeDFlip.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#1158 [Community] [InkJS] Dialogue tree with InkJS
  extensions/community/InkJS.json
  scripts/lib/ExtensionsValidatorExceptions.js
Labels: ✨ New extension, 👨‍👩‍👧‍👦 Community extension
