Repository GDevelopApp/GDevelop-extensions, pull requests merged in 2025-07, with the labels that each got.

#1717 [Community] [Advanced 3D Features] Advanced features for the built-in 3D
  extensions/community/A3F.json
  extensions/community/WithThreeJS.json
  scripts/generate-extensions-registry.js
  scripts/lib/ExtensionsValidatorExceptions.js
Labels: ✨ New extension, 👨‍👩‍👧‍👦 Community extension

#1727 [Reviewed] [3D particles] Fix a crash when there is no animation or frame
  extensions/reviewed/ParticleEmitter3D.json
  scripts/lib/ExtensionsValidatorExceptions.js
Labels: 🔄 Extension update, 🔍 Reviewed extension

#1545 [Reviewed] [Button] Use anchor behaviors in buttons
  extensions/reviewed/PanelSpriteButton.json
  extensions/reviewed/TwoChoicesDialogBoxes.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#1757 Allow to update extensions even if they don't comply all rules
  .github/workflows/commands.yml
  scripts/generate-extensions-registry.js
  scripts/lib/rules/JavascriptDisallowedProperties.js
Labels: ⛏ Build code

#1758 [Reviewed] [Shake object] Remove a useless property
  extensions/reviewed/ShakeObject.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#1760 [Reviewed] [Sticker] Fix a memory leak
  extensions/reviewed/Sticker.json
Labels: 🔄 Extension update, 🔍 Reviewed extension
