Repository GDevelopApp/GDevelop-extensions, pull requests merged in 2025-02, with the labels that each got.

#1515 Rename more parameters to avoid name conflict in the future
  extensions/community/MagneticEffect.json
  extensions/community/PlatformLedgeGrabber.json
  extensions/community/SecretCode.json
  extensions/community/StarRating.json
  extensions/reviewed/Boomerang.json
  extensions/reviewed/SpriteSheet.json
Labels: 🔄 Extension update

#1516 [Reviewed] [Pointer lock] Fix expression visibility
  extensions/reviewed/MousePointerLock.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#1514 [Reviewed] [Player Avatar] Add a new custom object for the profile picture from GDevelop accounts
  extensions/reviewed/PlayerAvatar.json
  scripts/lib/ExtensionsValidatorExceptions.js
Labels: ✨ New extension, 🔍 Reviewed extension

#1533 Rename more parameters to avoid name conflict in the future
  extensions/community/CameraShake3D.json
  extensions/community/Jump3D.json
  extensions/reviewed/CameraShake.json
  extensions/reviewed/CurvedMovement.json
  extensions/reviewed/EdgeScrollCamera.json
  extensions/reviewed/SwipeGesture.json
Labels: 🔄 Extension update

#1535 Migrate some extensions to properties as variables
  extensions/community/HedgehogPlatformer.json
  extensions/community/ScreenOrientationChecker.json
  extensions/reviewed/CopyCameraSettings.json
  extensions/reviewed/EllipseMovement.json
  extensions/reviewed/Gamepads.json
  extensions/reviewed/SmoothCamera.json
  extensions/reviewed/SpriteMultitouchJoystick.json
Labels: 🔄 Extension update

#1538 Migrate some more extensions to properties as variables
  extensions/reviewed/Bounce.json
  extensions/reviewed/CurvedMovement.json
  extensions/reviewed/FireBullet.json
  extensions/reviewed/Flash.json
  extensions/reviewed/FlashTransitionPainter.json
  extensions/reviewed/Health.json
  extensions/reviewed/LinkTools.json
  extensions/reviewed/PanelSpriteButton.json
  extensions/reviewed/PanelSpriteContinuousBar.json
  extensions/reviewed/ShakeObject.json
  extensions/reviewed/ShakeObject3D.json
  extensions/reviewed/Turret.json
  extensions/reviewed/TwoChoicesDialogBoxes.json
Labels: 🔄 Extension update

#1539 Migrate all community extensions to properties as variables
  extensions/community/AnimationSystem.json
  extensions/community/CameraShake3D.json
  extensions/community/CharacterGameFeel.json
  extensions/community/ChatBubble.json
  extensions/community/Clock.json
  extensions/community/DynamicWater.json
  extensions/community/FlipGravity.json
  extensions/community/GamejoltAPI.json
  extensions/community/InkJS.json
  extensions/community/JointConnector.json
  extensions/community/Jump3D.json
  extensions/community/MagneticEffect.json
  extensions/community/MakeItRain.json
  extensions/community/Model9Patch3D.json
  extensions/community/MultitouchJoystick.json
  extensions/community/NavMeshPathfinding.json
  extensions/community/PlatformLedgeGrabber.json
  extensions/community/PushableAndPullableBox.json
  extensions/community/RecordMovements.json
  extensions/community/RectangularMovement.json
  extensions/community/Reflection.json
  extensions/community/SecretCode.json
  extensions/community/SelectionTools.json
  extensions/community/SineMovement.json
  extensions/community/SlotSystem.json
  extensions/community/StarRating.json
  extensions/community/Text3D.json
  extensions/community/TopDownMovementAnimator.json
  extensions/community/TrampolinePlatform.json
  extensions/community/Tween3D.json
  extensions/community/Walk3D.json
Labels: 🔄 Extension update, 👨‍👩‍👧‍👦 Community extension

#1551 [Reviewed] [Link tools] Add actions to change the path finding configuration
  extensions/reviewed/LinkTools.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#1559 [Reviewed] [Slider] Replace deprecated instructions
  extensions/reviewed/PanelSpriteSlider.json
Labels: 🔄 Extension update, 🔍 Reviewed extension

#1560 [Reviewed] [Unit bar] Fix value going out of bounds
  extensions/reviewed/TiledUnitsBar.json
Labels: 🔄 Extension update, 🔍 Reviewed extension
